# Compiled Object files
*.slo
*.lo
*.o
*.obj
sudoku
sudoku2

#Code coverage
*.gcno
*.gcda

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#TeX Files
*.aux
*.log
*.synctex.gz

#Gen files
test_output.txt
